body{
    font-size: 16px;
    color: black;
    background-color: green;
    font-family: 'Oxygen', sans-serif;
}


.navbar-brand h1 {
    color: darkgoldenrod;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin: 0 0;
    line-height: 0.75;
}

